/**
 * Utility classes for common border-raduis usage
 */
.rounded {
  border-radius: 50%;
}

@each $size, $value in $border-radius-sizes {
  &.br-#{$size} {
    border-radius: $value !important;
  }
}

/**
 * Utility classes for common cursor properties
 */
 $cursors: 'none', 'not-allowed', 'pointer', 'help', 'wait', 'crosshair';
 @each $cursor in $cursors {
  .cursor-#{$cursor} {
    cursor: $cursor !important;
  }
}

/**
 * Utility class to disable text selection.
 */
.unselectable {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                        supported by Chrome, Edge, Opera and Firefox */

}
